* {
    margin: 0;
    padding: 0;
}

main{
    width: 600px;
    height: 600px;
    background-color: rgb(29, 156, 156);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modo-dark{
    padding: 5px;
    width: 75px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

input{
    display: none;
}

label i{ 
    font-size: 30px;
    border-radius: 50%;
    color: #a9a1a1;
    transition: all 150ms linear;
}

input[type='checkbox']:checked ~ label i{
    margin-left: 45px;
    transition: all 150ms linear;
    color: rgb(8, 68, 92);
    transform: scale(-1, 1);
}